<%= bootstrap_form_for(@memo) do |f| %>
        <div class="actions">
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.text_field :title %>
            <%= f.text_area :content, label: '내용', class: "tinymce", rows: 15, cols: 120 %>
            <%= tinymce %>
            <%= f.submit %>        
        </div>
    
<% end %>
