<!--꼭 _header.html.erb 파일명-->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'Memo app', root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%# %>
        <!--<li><a href="/">Home</a></li>-->
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'New Memo', new_memos_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>