<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>r
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <!--<div class="alert alert-<%#= message_type %>"><%#= message %></div>-->
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  
    <%= yield %>
  </div>

<%= console if Rails.env.development? %>
</body>
</html>
